doctype html
html(lang='en')
    head
        include ../layout/head
        link(href='css/auth.css', rel='stylesheet', type='text/css')
        link(href='css/base.css', rel='stylesheet', type='text/css')

        title #{title}

    body
        include ../layout/basic-header

        .container
            .row
                .col-md-6.col-lg-6.col-md-3.col-lg-offset-3.auth
                    .message-panel
                        if (message.length > 0)
                            .alert.alert-danger.text-center #{message}

                    .auth-panel.panel.panel-default
                        .panel-heading
                            h3.panel-title Sign Up
                        .panel-body
                            form(action='/register' role='form', method='POST')
                                fieldset
                                    .form-group
                                        input.form-control(placeholder='Firstname', name='firstname', type='text', autofocus='', value=firstname, required)
                                        input.form-control(placeholder='Surname', name='surname', type='text', value=surname, required)

                                    .form-group
                                        input.form-control(placeholder='Company', name='company', type='text', value=company, required)
                                        input.form-control(placeholder='Country', name='country', type='text', value=country, required)


                                    .form-group
                                        input.form-control(placeholder='Email', name='email', type='email', value=email, required)
                                        input.form-control(placeholder='Password', name='password', type='password', value='', required)

                                // Change this to a button or input when using this as a form
                                button.btn.btn-lg.btn-success.btn-block(type='submit') Create Account

                                p.text-center.existingLink Already have an account?&nbsp
                                    a(href='/login') Login