doctype html

head
    include ../layout/head
    script(src='/js/user-details-form.js', type='text/javascript')
    script(src='/js/update-password.js', type='text/javascript')
    link(href='/css/account.css', rel='stylesheet', type='text/css')

    title #{title}
body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid
                include ../layout/pageHeader

                .row
                    .message-panel.row
                        .col-md-6.col-md-offset-3.alert.text-center#message
                    .row
                        .col-md-6
                            .panel.panel-default
                                .panel-heading
                                    i.fa.fa-pencil-square-o
                                    | Update Details
                                .panel-body
                                    form.user-details-form(action='/user/update' role='form', method='POST')
                                        fieldset
                                            .form-group
                                                label Firstname
                                                input.form-control(placeholder='Firstname', name='firstname', type='text', autofocus='', value=user.firstname, required)

                                            .form-group
                                                label Surname
                                                input.form-control(placeholder='Surname', name='surname', type='text', value=user.surname, required)

                                            .form-group
                                                label Company
                                                input.form-control(placeholder='Company', name='company', type='text', value=user.company, required)
                                            .form-group
                                                label Country
                                                input.form-control(placeholder='Country', name='country', type='text', value=user.country, required)

                                            .form-group
                                                label Email
                                                p #{user.email}

                                        // Change this to a button or input when using this as a form
                                        button.btn.btn-md.btn-primary.btn-block(type='submit') Update
                        .col-md-6
                            .row-fluid
                                //.col-lg-12
                                //    .panel.panel-default
                                //        .panel-heading
                                //            i.fa.fa-cogs
                                //            | Change Preferences
                                //        .panel-body
                                //            form(action='/user/update' role='form', method='POST')
                                //                fieldset
                                //                    .form-group.checkbox-inline
                                //                        input.checkbox(type="checkbox")
                                //                        label Receive email notification of import completion
                                //
                                //                // Change this to a button or input when using this as a form
                                //                button.btn.btn-md.btn-primary.btn-block(type='submit') Change Settings

                                .col-lg-12
                                    .panel.panel-default
                                        .panel-heading
                                            i.fa.fa-key
                                            | Password Reset
                                        .panel-body
                                            form.user-password-reset#passwordReset(action='/user/update/password' role='form', method='POST')
                                                fieldset
                                                    .form-group
                                                        label Old Password
                                                        input.form-control(name='old-password', type='password', autofocus='', required)

                                                    .form-group
                                                        label New Password
                                                        input.form-control(name='new-password', type='password', required)

                                                    .form-group
                                                        label New Password Confirm
                                                        input.form-control(name='new-password-confirm', type='password', required)
                                                // Change this to a button or input when using this as a form
                                                button.btn.btn-md.btn-primary.btn-block(type='submit') Reset