doctype html

head
	include ../layout/scripts
body
	#wrapper
		include ../layout/navigation

	#page-wrapper
		h1.text-center #{title}
			form.form-horizontal(name="updateuser", method="post", action="/register")
				.form-group.col-md-6
					label.control-label Forename:
					input(type="text", value="#{user.firstname}", name="firstname")
				.form-group.col-md-6
					label.control-label Surname:
					input(type="text", value="#{user.surname}", name="surname")
				.form-group.col-md-6
					label.control-label DOB:
					input(type="date", name="dob")
				.form-group.col-md-6
					label.control-label Email:
					input(type="email", value="#{user.email}", name="email")
				.form-group.col-md-6
					label.control-label Password:
					input(type="password", value="#{user.password}", name='password')
				.form-group.btn-group.col-md-6
					input(type='hidden',value='PUT',name='_method')
					button.btn.btn-default(type="submit") Submit

