doctype html

head
    include ../layout/head
    link(href='/css/profile.css', rel='stylesheet', type='text/css')
    script(src="/js/image-upload.js" type="text/javascript")

    title #{title}
body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid
                include ../layout/pageHeader

                .row.profile
                    .col-md-12
                        .row
                            .col-md-3.image-container
                                img.img-responsive.img-thumbnail.img-circle(src='/img/person-placeholder.jpg')
                                .upload
                                    .change-image.text-center
                                        button(onclick="$('#uploadModal').modal('show');").btn.btn-default
                                            | Change Image
                                    #uploadModal.modal.fade(role='dialog')
                                        .modal-dialog
                                            // Modal content
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal') ×
                                                    h4.modal-title Upload Profile Image
                                                .modal-body
                                                    .container-fluid.text-center
                                                        .row
                                                            .col-lg-10.col-lg-offset-1
                                                                center
                                                                    form.form-horizontal#uploadImage(role='form', action='/user/profile/upload', method="POST", enctype="application/x-www-form-urlencoded")
                                                                        .form-group
                                                                            .image-preview
                                                                                img.img-responsive#previewing(src="http://seowagon.com/theme/simpleX/img/no-image.jpg")

                                                                        .form-group
                                                                            label Select an Image
                                                                            input.btn.btn-default(type="file", name="file", id="file", required)
                                                                        .form-group
                                                                            #message
                                                                        .form-group
                                                                            input.btn.btn-primary(type='submit', value='Upload')

                            .col-md-8.col-md-offset-1.details-container
                                .row
                                    .col-md-6
                                        .col-md-12.name
                                            h1 #{user.firstname} #{user.surname}

                                        .col-md-12
                                            p
                                                i.fa.fa-globe
                                                | &nbsp #{user.country}
                                        .col-md-12
                                            p
                                                i.fa.fa-briefcase
                                                | &nbsp #{user.company}
                                        .col-md-12
                                            p
                                                i.fa.fa-envelope
                                                | &nbsp #{user.email}
                                    .col-md-6
                                        a(href='/user/account')
                                            .btn.btn-primary Update Details

