doctype html

head
    include ../layout/head
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript', src='/js/analytics/core-charts.js')
    link(href='/css/trash.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row
                    .col-lg-8
                        .panel.panel-default
                            .panel-heading
                                i.fa.fa-line-chart
                                | Node Degree Distribution
                            .degree-viz#degree-dist(data-endpoint=degreeEndpoint)
                    .col-lg-4
                        .panel.panel-default
                            .panel-heading
                                | Overview
                            table.table.table-striped.table-bordered.table-responsive.text-center
                                tbody
                                    tr
                                        td
                                            i Name
                                        td #{summary.name}
                                    tr
                                        td
                                            i Total Nodes
                                        td #{summary.nodes}
                                    tr
                                        td
                                            i Total Edges
                                        td #{summary.edges}
                                    tr
                                        td
                                            i Mean Degree
                                        td #{summary.mean_degree}
                .row
                    .col-lg-6
                        .panel.panel-default
                            .panel-heading
                                i.fa.fa-globe
                                | Top 6 Locations
                            .location-viz#location-pie(data-endpoint=locationEndpoint)
