doctype html

head
    include ../layout/head
    link(href='/css/jobs.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row.jobs-panel
                    .col-lg-12
                        - if (jobs && jobs.length > 0)
                            table.table.table-striped.table-bordered.table-responsive.text-center
                                thead
                                    tr
                                        th.text-center Type
                                        th.text-center Name
                                        th.text-center Started
                                        th.text-center Total Time
                                        th.text-center Status
                                        th.text-center Success
                                        th.text-center Complete

                                tbody
                                    each job in jobs
                                        tr
                                            td.text-center
                                                - if (job.type == 'LINKEDIN')
                                                    i.fa.fa-linkedin.fa-1x
                                                - else
                                                    i.fa.fa-twitter.fa-1x

                                            td #{job.name}
                                            td #{job.startTime}
                                            td #{job.totalTime}
                                            td #{job.status}
                                            td #{job.isSuccess}
                                            td #{job.isComplete}
