doctype html

head
    include ../layout/head
    link(href='/css/network-listing.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/js/multi-action-grid.js')
    script(type='text/javascript', src='/js/job-details.js')

    title #{title}


    - var num_trash = 0
    - var num_deleted = 0
    - var num_networks = 0
    - var jobSummary = null
    // Calculate dashboard call to actions
    - if (networks && networks.length > 0)

        - each network in networks
            - if (network.isTrash && !network.isDeleted)
                - num_trash += 1
            - if (network.isDeleted)
                - num_deleted += 1
        - num_networks = networks.length - num_trash - num_deleted
    - if (summary)
        - jobSummary = summary
body
    #wrapper
        include ../layout/navigation-complex

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader
                include ../fragments/job-modal


                .row
                    .col-lg-3.col-md-6
                        .panel.panel-primary
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.icon-relations-graph.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{num_networks}

                                        - if (num_networks == 1)
                                            div Network
                                        - else
                                            div Networks

                    .col-lg-3.col-md-6
                        .panel.panel-green
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.icon-job.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{jobSummary.running_count}
                                        div Jobs Running

                    .col-lg-3.col-md-6
                        .panel.panel-yellow
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-trash.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{num_trash}
                                        div Trash


                    .col-lg-3.col-md-6
                        .panel.panel-red
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-exclamation-triangle.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{jobSummary.warning_count}
                                        div Warnings

                .containter
                    .row
                        .col-lg-12.nework-listing
                            h3 Networks
                            hr

                            - if(networks && networks.length > 0)
                                include ../fragments/network-listing
                            - else
                                p.text-center You dont have any networks.
                                    a(href='/graph/import') Try import one






