doctype html

head
    include ../layout/head
    link(href='/css/dashboard.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/js/multi-action-grid.js')
    script(type='text/javascript', src='/js/job-details.js')

    title #{title}


    - var num_trash = 0
    - var num_networks = 0
    - var jobSummary = null
    // Calculate dashboard call to actions
    - if (networks && networks.length > 0)

        - each network in networks
            - if (network.isTrash)
                - num_trash += 1
        - num_networks = networks.length - num_trash
    - if (summary)
        - jobSummary = summary
body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader
                #jobModal.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Import Details
                            .modal-body
                                ul#job_details
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close


                .row
                    .col-lg-3.col-md-6
                        .panel.panel-primary
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.icon-relations-graph.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{num_networks}

                                        - if (num_networks == 1)
                                            div Network
                                        - else
                                            div Networks

                    .col-lg-3.col-md-6
                        .panel.panel-green
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.icon-job.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{jobSummary.running_count}
                                        div Jobs Running

                    .col-lg-3.col-md-6
                        .panel.panel-yellow
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-trash.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{num_trash}
                                        div Trash


                    .col-lg-3.col-md-6
                        .panel.panel-red
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-exclamation-triangle.fa-5x
                                    .col-xs-9.text-right
                                        .huge #{jobSummary.warning_count}
                                        div Warnings

                .containter
                    .row
                        .col-lg-12
                            h3 Networks
                            hr

                            - if(networks && networks.length > 0)
                                each network in networks
                                    - if (!network.isTrash)
                                        - if (network.type == 'LINKEDIN')
                                            - var icon = 'fa fa-linkedin'
                                        -else if (network.type == 'TWITTER')
                                             - var icon = 'fa fa-twitter'

                                        .col-lg-4.network-panel
                                            .panel.panel-default
                                                .panel-heading
                                                    i(class='#{icon}')
                                                    |  #{network.name}
                                                    .pull-right
                                                        .btn-group
                                                            button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                                                                | Actions &nbsp
                                                                span.caret
                                                            ul.dropdown-menu.pull-right(role='menu')
                                                                li
                                                                    a(href='/graph/view/#{network.id}') View
                                                                li
                                                                    a(href='/analytics/#{network.id}') Analytics
                                                                li
                                                                    a.trash-button(href='#') Send to Trash
                                                                        form.trash-form(action='/graph/trash', method='PATCH')
                                                                            input(type='hidden', value='#{network.id}')
                                                                li.divider
                                                                li
                                                                    a.job-details(href='/job/#{network.jobId}') Import Details
                                                .panel-body
                                                    img.img-thumbnail(src='/img/graph/#{network.imageRef}')
                            - else
                                p.text-center You dont have any networks.
                                    a(href='/graph/import') Try import one






