doctype html

head
    include ../layout/head
    script(type='text/javascript', src='/js/network-trash.js')
    link(href='/css/trash.css', rel='stylesheet', type='text/css')

    title #{title}

body
    #wrapper
        include ../layout/navigation

        #page-wrapper
            .container-fluid

                include ../layout/pageHeader

                .row.trash-panel
                   .col-lg-12
                       - if (networks && networks.length > 0)

                           - var trash = []
                           each network in networks
                               - if (network.isTrash)
                                    - trash.push(network)

                           - if (trash.length > 0)
                               p.selected-count
                               table.table.table-striped.table-bordered.table-responsive.text-center
                                   thead
                                       tr
                                           th.text-center Type
                                           th.text-center Name
                                           th.text-center Created
                                           th.text-center View
                                           th.text-center
                                               input.small.view-excluded.select-all(type="checkbox" value="")



                                   tbody
                                       each network in trash
                                           - if (network.isTrash)
                                               tr
                                                   td.text-center
                                                       - if (network.type == 'LINKEDIN')
                                                            i.fa.fa-linkedin.fa-1x
                                                       - else
                                                            i.fa.fa-twitter.fa-1x

                                                   td #{network.name}
                                                   td #{network.createdTime}
                                                   td
                                                       a.btn.btn-primary.btn-xs(href='/graph/view/#{network.id}')
                                                           i.fa.fa-eye
                                                   td
                                                       input.view-excluded(data-id='#{network.id}', type="checkbox")

                           - else
                               p.text-center 0 Networks in Trash
                       - else
                           p.text-center You don't have any networks

            footer.container-fluid
                .row
                    .col-lg-12
                        .btn-group.dropup
                            button.btn.btn-default.dropdown-toggle.disabled.actions-btn(type='button', data-toggle='dropdown')
                                | Actions &nbsp
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a.restore-button(href='') Restore
                                    form.restore-form(action='/graph/trash', method='PATCH')

                                li.divider
                                li
                                    a.delete-button(href='') Delete
                                    form.trash-form(action='/graph/delete', method='DELETE')

